<div class="navbar-fixed" style="opacity: 1.0">
  <nav class="grey">
    <div class="nav-wrapper center">
      <a style="color: white; font-size:21px;"> SeedX</a>
    </div>
    
    <!-- <a [routerLink]="['/seedx/notifications']" style="text-decoration: none; position: absolute; top:4px; right:18px;"><i class="material-icons">notifications_none</i></a> -->
  </nav>
  </div>
<main>
<section class="container">
<h1 style="font-size: 21px; color:gold;">Signup</h1>

<div class="formBox" >  
<br><br>
<div class="row"> 
  <input type="text" [(ngModel)]="firstnameInput" placeholder="Firstname" style="background-color: white; height: 30px;">
</div>

<div class="row"> 
  <input type="text" [(ngModel)]="lastnameInput" placeholder="Lastname" style="background-color: white; height: 30px;" >
</div>


<div class="row"> 
  <input type="email" [(ngModel)]="emailInput" placeholder="Email" style="background-color: white; height: 30px;">
</div>

<div class="row"> 
  <input type="tel" [(ngModel)]="contactInput" placeholder="Phone Number" style="background-color: white; height: 30px;">
</div>

<div class="row">
    <ul class="list-inline">
        <li class="list-inline-item" *ngFor="let form of genderSet; let i= index;">
        <button (click)="selectGender($event,form.key)"   [class.genderSelect]="genderInput === form.key" [class.genderUnselect]="genderInput !== form.key" class="btn-flat btn-small " style="color:white; font-size:12px; border: 2px solid;
        border-radius: 40px;">{{form.name}}</button>
        </li>
    </ul>
</div>

<div class="row"> 
  <input type="password" [(ngModel)]="passwordString" placeholder="Password" style="background-color: white; height: 30px;" >
</div>

<br>
<div class="center">
  <button (click)="createClient($event)" [disabled]="emailInput === null || passwordString === null" class="btn btn-flat btn-small" style="background-color: rgb(109, 109, 204); color:white;">Signup</button>
</div>

<br>
<p style="color:grey; font-size:14px;">Already have an account ?</p>
<a [routerLink]="['/login']" style="color:grey; font-size:14px;">Login</a><br><br>
</div>
</section>
</main>